.tag-wrapper {
  .tag{
    color: white;
    font-size: 12px;
    font-weight: 700;
    margin: 0 5px 0 12px;
  }
  .delete-tag{
    border-radius: 50%;
    background-color: lightgray;
    margin: 0;
    padding: 6px;
    width: 18px;
  }
  display: flex;
  padding: 0;
  background-color: rgb(58, 58, 58);
  border-radius: 20px;
  text-align: center;
  margin: 4px;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}
