.posts-container {
  // display: grid;
  // grid-template-columns: 1fr 11fr; // check on different screens
  margin: 0 30px;
  // padding-top: 120px;
}

.posts-grid {
  animation: slideIn 0.5s ease-in;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 280px;
  column-gap: 80px;
  row-gap: 64px;
  padding-left: 120px;
}

.select-tags-container {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  animation: fadeIn 0.5s ease-in;
  padding-bottom: 10px;
  gap: 10px;
  position: fixed;
  height: 100%;

  p {
    text-decoration: none;
    color: black;
    margin: 0;
    cursor: pointer;
  }
  .tag-active {
    font-weight: 600;
  }
  .tag-active::before {
    content: "";
    display: inline-block;
    background-image: url("../icons/ArrowIcon.svg");
    background-size: contain;
    width: 20px;
    background-repeat: no-repeat;
    height: 100%;
    vertical-align: text-bottom;
    background-position: -6px 50%;
  }
}

.loading-spinner {
  text-align: center;
  padding: 32px;
}

@media screen and (max-width: 1199px) {
  .posts-grid {
    column-gap: 56px;
    row-gap: 48px;
    grid-auto-rows: 180px;
  }
}

@media screen and (max-width: 991px) {
  .posts-grid {
    column-gap: 72px;
    row-gap: 56px;
    grid-template-columns: 6fr 6fr;
  }
}

@media screen and (max-width: 767px) {
  .posts-grid {
    column-gap: 48px;
    row-gap: 48px;
    padding-left: 0;
    grid-auto-rows: 200px;
  }
  .select-tags-container {
    ul {
      display: flex;
      justify-content: flex-start;
      margin-top: 0;
    }
    p {
      margin-right: 20px;
      padding: 10px 0;
    }
  }
}

@media screen and (max-width: 599px) {
  .posts-grid {
    grid-template-columns: 1fr;
    padding-left: 0;
    padding: 16px;
    row-gap: 60px;
    grid-auto-rows: 180px;
  }
  .select-tags-container {
    ul {
      display: flex;
      justify-content: flex-start;
      margin-top: 0;
    }
    p {
      margin-right: 20px;
      padding: 10px 0;
    }
  }
}
