.category-container {
  animation: fadeIn .5s ease-in;
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 0 30px;
}

.posts-grid {
  animation: slideIn .5s ease-in, fadeIn .5s ease-in;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  grid-template-rows: 240px;
  row-gap: 30px;
  a {
    animation: slideIn .5s ease-in, fadeIn .5s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.tags-container {
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  li {
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
