.container-errorPage {
  width: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  height: 70vh;
  justify-content: center;
}

.error-message {
  margin-bottom: 54px;
}
