.header {
  .admin-menu {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin: 0;
    padding: 0;
    height: 100%;
    transform-origin: center top;

    &.is-active {
      scale: 1;
      transition: all 0.25s ease-out;
    }

    &__link {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 991px) {
      @include admin-menu-common-styles;
    }
  }

  &--30 {
    .admin-menu {
      @include admin-menu-common-styles;
    }
  }
}
