// import evereything here
@import 'basic/fonts.scss';
@import 'basic/variables.scss';
@import 'basic/animations.scss';
@import '../components/navbar/navbar.scss';
@import '../components/header/header.scss';
@import '../components/allPosts/all-posts.scss';
@import '../components/postForm/postForm.scss';
@import '../components/post/post.scss';
@import '../components/login/login.scss';
@import '../components/slider/slider.scss';
@import '../components/tag/tag.scss';
@import '../components/home/home.scss';
@import '../components/image/image.scss';
@import '../components/404/notFound.scss';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
}
