// import evereything here
@import 'basic/fonts.scss';
// @import '../components/post/post.scss';
@import 'style-components/post.scss';

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
}
