// import evereything here
@import "basic/fonts.scss";
@import "basic/variables.scss";
@import "basic/animations.scss";
@import "../components/navbar/navbar.scss";
@import "../components/header/header.scss";
@import "../components/UI/modal.scss";
@import "../components/UI/button.scss";
@import "../components/UI/draggable.scss";
@import "../components/navigation/navMenu";
@import "../components/allPosts/all-posts.scss";
@import "../components/postForm/postForm.scss";
@import "../components/post/post.scss";
@import "../components/login/login.scss";
@import "../components/slider/slider.scss";
@import "../components/tag/tag.scss";
@import "../components/home/home.scss";
@import "../components/image/image.scss";
@import "../components/404/notFound.scss";


html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;

}

.app {
  height: fit-content;
}

* {
  box-sizing: inherit;
}
