@media screen and (max-width: 991px) {
  .header--100 .nav {
    gap: 8px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .header--100 .nav {
    gap: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 599px) {
  .link {
    font-size: 18px;
  }
}
