$main-font: Helvetica, Arial, sans-serif;
$secondary-font: 'Minion-Pro', Georgia, serif;

.title {
  font-family: $main-font;
  font-weight: bold;
  font-size: 1.375rem;
  text-transform: uppercase;
  margin: 0;
}

.subtitle {
  font-family: $secondary-font;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: 0;
  margin-top: 5px;
  opacity: .8;
}

.content {
  font-family: $main-font;
  font-size: 1.25rem;
  line-height: 1.875rem;
  padding-bottom: 40px;
  text-align: left;
  max-width: 800px;
  margin: 0;
}
