$slider-width: 74vw;
$description-width: 26vw;
$slider-padding: 60px;
$slider-padding-mobile: 40px;

$slider-width-50: 50vw;
$description-width-50: 50vw;

$icon-width: 30px;
$icon-height: 30px;
$icon-width--small: 20px;
$icon-height--small: 20px;

$color-primary: #000000;
$color-secondary: #8f8f8f;
