<%- include('partials/header.ejs') %>
  <div id="root"></div>

  <!-- <h1>Submit an image</h1>
  <form action="/posts" enctype="multipart/form-data" method="post">
    <div class="form-group">
      <label for="post-title">Title</label>
      <input type="text" name="title" id="post-title">
      <label for="post-subtitle">Subtitle</label>
      <input type="text" name="subtitle" id="post-subtitle">
      <label for="content">Content</label>
      <textarea name="content" id="content" rows="4" cols="50"></textarea>
      <input type="file" class="form-control-file" name="images" multiple>
      <input type="submit" value="Submit images!" class="btn btn-default">
    </div>
  </form> -->

<%- include('partials/footer') %>
