.home {
  font-family: $main-font;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  box-sizing: border-box;
  background-image: url("/images/IMG_1756.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;

  &--primary {
    @extend .nav;
    .nav__link {
      color: #8f8f8f;
      transition: all 0.2s ease;
    }
  }

  &--secondary {
    @extend .nav;
    justify-content: space-around;
    height: 70vh;
    max-height: 480px;
    gap: 0px;

    .nav__menu {
      flex-direction: column;
      gap: 0;
    }
  }
  &__menu {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    height: 100%;
  }

  &__item {
    flex: 1;
    list-style-type: none;
    display: flex;
    align-items: center;
    align-self: flex-end;
  }

  &__link,
  &__logo {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    &--small {
      font-size: 24px;
      @media (max-width: 991px) {
        font-size: 8px;
      }
    }
    &--large {
      font-size: 40px;
      @media (max-width: 991px) {
        font-size: 24px;
      }
    }
    &--huge {
      font-size: 48px;
      @media (max-width: 991px) {
        font-size: 32px;
      }
    }
    &.is-active {
      color: black;
      pointer-events: none;
    }
  }

  &__divider {
    // margin: 0 4px;
    height: 20px;
    width: 1px;
    display: inline-block;
    transform: rotate(20deg);
    background-color: black;
  }
}

///////////////////////////////////// nav-alt //////////////////////////////////
.nav-alt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  max-height: 480px;
  width: 100%;
  gap: 0px;

  &__menu {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    height: 100%;
  }
}

@media screen and (max-width: 991px) {
  .home {
    ul {
      right: 8%;
    }
  }
}
@media screen and (max-width: 767px) {
  .home {
    background-position: right;
    font-size: 32px;
  }
}
