.home {
  font-family: $main-font;
  font-size: 36px;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  box-sizing: border-box;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  .logo {
    font-size: 36px;
    position: absolute;
    left: 10vw;
    top: 47%
  }
  ul{
    position: absolute;
    right: 15%;
  }
  li {
    list-style-type: none;
    text-align: right;
  }
  a {
    padding: 10px 0;
    line-height: 60px;
    color: rgb(32, 32, 32);
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    position: relative;
  }
}

.italic:hover {
  text-shadow: 0 0 6px rgb(255, 255, 255, 0.5);
}

@media screen and (max-width: 1400px) {
  .home {
    font-size: 24px;
  }
}
@media screen and (max-width: 1040px) {
  .home {

    ul{
      right: 8%;
    }
  }
}
