.header-global, .header-post {
  animation: fadeIn .5s;
  display: flex;
  height: 74px;
  align-items: center;
  margin: 0;
  padding: 0 30px;
  box-sizing: border-box;
  li {
    font-size: 20px;
    display: inline-block;
    margin-right: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    color: #8f8f8f;
  }
  a:hover {
    text-decoration: underline;
  }
  .logo {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
  }
  button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 24px;
    cursor: pointer
  }
}
.header-post{
  left: 50vw;
  right: auto
}
.dash {
  height: 20px;
  width: 1px;
  display: inline-block;
  transform: rotate(20deg);
  margin-right: 16px;
  background-color: black;
}
.header-global {
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  .dashboard-link {
    align-self: flex-end;
  }
  .close-icon:after {
    content: url('../img/PlusLight.svg');
    display: inline-block;
  }
  .navigation {
    padding-left: 0;
    // position: absolute;
    // left: -223px;
    display: flex;
    align-items: center;
    // transition: all 0.5s ease-out;
    // * {
    //   transition: all 0.5s ease-out;
    // }
  }
}

.logo-wrapper {
  display: flex;
  z-index: 2;
}

.rectangle {
  background-color: white;
  // width: 240px;
  height: 72px;
  margin: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.header-post {
  transition: top ease 0.4s;
  position: fixed;
  justify-content: space-between;
  /* width: 100%; */
  margin: 0 30px;
  padding: 0;
  top: 0;
  right: 0;
  z-index: 6;
  /* width: calc(26vw - 60px); */
  // transition: top ease .4s;
  // position: fixed;
  // justify-content: flex-start;
  // width: 100%;
  // margin: 0 30px;
  // padding: 0;
  // top: 0;
  // right: 0;
  // z-index: 6;
  // width: calc($description-width - $slider-padding);
}
.adminMenu{
  * {
    margin: 0 5px;
  }
  position: absolute;
  right: 50px;
}

.fade-top {
  top: -74px;
  transition: top ease .4s
}

@media screen and (max-width: 1024px) {
  .header-global {
    margin-bottom: 20px;
  }
}
