.header-100, .header-50 {
  animation: fadeIn .5s;
  transition: top ease .4s;
  display: flex;
  height: 74px;
  align-items: center;
  margin: 0;
  padding: 0 30px;
  box-sizing: border-box;
  font-size: 20px;
  margin-bottom: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;

  .admin-menu {
    height: 100%;
    gap: 16px;
    margin: 0 20px;
    transition: all 0.25s ease-out;
    transform-origin: 100% 0;
  }

  .admin-menu.active {
    scale: 1;
    right: 55px;
    top: 64px;
    margin: 0;
    width: 60px;
    height: 100px;
  }

  li {
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    color: black;
    position: relative;
  }

  .logo {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
    color: black;
    width: max-content;
  }
}

.header-50{
  left: 50vw;
  right: auto;
}
.dash {
  height: 20px;
  width: 1px;
  display: inline-block;
  transform: rotate(20deg);
  background-color: black;
}
.header-100 {
  border-bottom: 1px solid black;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  z-index: 10;
  background-color: white;
  top: 0;

  .dashboard-link {
    align-self: flex-end;
  }
}

.logo-wrapper {
  display: flex;
  z-index: 2;
  align-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;
  flex-wrap: wrap;
  row-gap: 0 !important;
}

.rectangle {
  background-color: white;
  height: 72px;
  margin: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.header-50, .header-30 {
  transition: top ease .4s;
  position: fixed;
  justify-content: space-between;
  margin: 0 30px;
  padding: 0;
  top: 0;
  right: 0;
  z-index: 6;

  .delete-btn, .edit-btn {
    padding: 0;
  }
}

.header-30 {
  left: auto;
  width: calc($description-width - $slider-padding);
  align-items: center;
  flex-wrap: wrap;

  .logo-wrapper {
    gap: 12px;
  }
}

.admin-menu {
  display: flex;
  align-items: center;
  gap: 16px;

  a {
    font-size: 18px;
    color: #8f8f8f;
    font-weight: normal;
    text-transform: none;
  }
  a:last-child {
    margin-right: 0;
  }
  a {
    height: 100%;
    box-sizing: border-box;
    width: 40px;
  }
  a.new-post-btn {
    display: inline-block;
    background-image: url('../icons/New.svg');
    background-repeat: no-repeat;
    background-position: 0% 50%;
  }
}

.fade-top {
  top: -74px;
  transition: top ease .4s
}

button {
  background-color: transparent;
  border: none;
  padding: 12px;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .header-50, .header-30 {
    .logo-wrapper {
      gap: 8px;
    }
  }
}

@media screen and (max-width: 991px) {
  .header-100 {
    padding: 0 20px;
    .admin-menu {
      scale: 1;
      width: 80px;
    }
  }
  .logo-wrapper {
    flex-wrap:nowrap;
    gap: 8px;
  }
}

@media screen and (max-width: 767px) {
  .header-50 {
    .logo, .dash, li, a {
      font-size: 18px;
    }
  }
  .logo-wrapper {
    margin-right: 0;
  }
  .header-100, .header-50 {
    .admin-menu {
      gap: 0;
      top: 54px;
      margin: 0;
      height: 100%;
      position: absolute;
      top: 90px;
      right: 16px;
      border: 1px solid black;
      background-color: white;
      gap: 16px;
      padding: 6px;
      scale: 0;
      transition: all 0.25s ease-out;
      transform-origin: 100% 0;
      flex-direction: column;

      a {
        text-align: center;
        background-position: center;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .header-100 {
    .logo-wrapper {
      .logo, .dash, li {
        font-size: 16px;
      }
    }
  }
}
