.header-global, .header-post {
  animation: fadeIn .5s;
  display: flex;
  height: 74px;
  align-items: center;
  margin: 0;
  padding: 0 30px;
  box-sizing: border-box;
  li {
    font-size: 18px;
    display: inline-block;
    margin-right: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline;
  }
  .logo {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
  }
  button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 24px;
    cursor: pointer
  }
}
.header-global {
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  .dash {
    height: 20px;
    width: 1px;
    display: inline-block;
    transform: rotate(20deg);
    margin-right: 16px;
    background-color: black;
  }
  .close-icon:after {
    content: url('../img/PlusLight.svg');
    display: inline-block;
  }
  .navigation {
    position: absolute;
    display: flex;
    align-items: center;
    transition: all 1s ease-out;
    * {
      transition: all 1s ease-out;
    }
  }
}

.logo-wrapper {
  display: flex;
  z-index: 2;
}

.rectangle {
  background-color: white;
  // width: 240px;
  height: 72px;
  margin: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.header-post {
  transition: top ease .4s;
  position: fixed;
  justify-content: flex-start;
  width: 100%;
  margin: 0 30px;
  padding: 0;
  top: 0;
  right: 0;
  z-index: 6;
  width: calc($description-width - $slider-padding);
}

.fade-top {
  top: -74px;
  transition: top ease .4s
}

@media screen and (max-width: 1024px) {
  .header-global {
    margin-bottom: 20px;
  }
}
