
.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.indicator {
  background-color: #D9D9D9;
  height: 2px;
  width: 16px;
  margin: 2px;
}
.selected-indicator {
  background-color: black;
}

.inner-slider-div {
  height: 74vh;
  margin: 0 auto;
  margin-bottom: 20px;
  box-sizing: border-box;
  img {
    height: 74vh;
    margin: 0 auto;
    padding: 0 5vw;
  }
}

.e-resize {
  cursor: e-resize;
}
.w-resize {
  cursor: w-resize;
}
.slides {
  position: relative;
  transition: all ease-in-out .3s;
  opacity: 0.3;
}
.w-resize:hover, .e-resize:hover {
  opacity: .6;
}
.selected-slide {
  opacity: 1;
  cursor: pointer;
}
.slick-next:before, .slick-prev:before {
  color: black;
}
.slick-next, .slick-prev {
  width: 34px;
}
.slick-next {
  right: 30px;
}
.slick-prev {
  left: 30px;
}
.slick-arrow.slick-next:before {
  content: url('../img/ArrowIcon.svg');
}
.slick-arrow.slick-prev:before {
  content: url('../img/ArrowIcon.svg');
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
  opacity: 0;
}
.fade-out {
  opacity: 0;
}
