input, textarea, label, select {
  width: 100%;
  display: block;
  height: fit-content;
  // outline: none;
  // border-style: hidden;

}

input, textarea, select {
  margin: 20px 0;
}

.tags-container {
  // width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  .available-tags-wrapper{
    width: 70%;
    min-height: 150px;
  }
}

.selected-tags-wrapper{
  display: flex;
}

.post-form{
  // display: grid;
  // grid-template-columns: 8fr 4fr;
  // grid-column-gap: 20px;
  // grid-row-gap: 20px;
  // justify-items: stretch;
  // align-items: stretch;
  width: 40%;
    // .form-post-imgs {
    //   justify-content:flex-end;
    // }
  // * {
  //   margin: 0
  // }
}

.form-wrapper {
  // display: flex;
  // flex-direction: column;
  // align-items: end;
  padding: 30px;
  // margin: 0 30px;
}


.form-post-title {
}
