input, textarea, label, select {
  width: 50%;
  display: block;
}

input, textarea, select {
  margin-bottom: 20px;
}

.tags-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
