.post-container {
  text-align: center;
  margin: 0 auto;
  height: calc(100vh - 110px);
  width: 100vw;
  margin-top: 70px;
}

.images-container {
  display: flex;
  justify-content: center;
  height: 74vh;
  max-width: 100vw;
  img {
    margin: 0 10px;
    height: 100%;
  }
}

.text-container-content {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.text-container {
  padding: 0 60px;
  text-align: center;
  max-width: 780px;
  margin: 0 auto;
}

.headline {
  position: sticky;
  top: 0px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}
