.post-container {
  text-align: center;
  display: grid;
  grid-template-columns: $slider-width $description-width;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.images-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  max-width: 100vw;
  img {
    margin: 0 10px;
    height: 100%;
  }
}

.text-container {
  padding: 30px;
  box-sizing: border-box;
  text-align: left;
  width: $description-width;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  height: 100vh;
  border-left: 1px solid black;
}

.headline {
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: white;
  display: flex;
  align-items: center;
}

// 50 50 layout
.layout-50 {
  grid-template-columns: $slider-width-50 $description-width-50;
  .text-container-50 {
    width: $description-width-50;
    display: flex;
    padding-top: 60vh;
    align-items: flex-start;
    overflow: scroll;
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    overflow-y: scroll;
  }
}
