.post-container {
  text-align: center;
  display: grid;
  grid-template-columns: 72vw 28vw;
  margin: 0 auto;
  height: calc(100vh - 110px);
  width: 100vw;
  box-sizing: border-box;
}

.images-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  max-width: 100vw;
  img {
    margin: 0 10px;
    height: 100%;
  }
}

.text-container-content {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.text-container {
  padding: 30px;
  box-sizing: border-box;
  text-align: left;
  max-width: 780px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  height: 100vh;
  border-left: 1px solid black;
}

.headline {
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
}
