.error-msg {
  display: inline-block;
  background-color: orange;
  color: white;
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.form {
  padding: 0 16px;

  input {
    width: 100%;
    margin: 5px 0 25px;
    box-sizing: border-box;
  }
}

.actions-btns {
  display: flex;
  button {
    font-size: 16px;
  }
}
