.error-msg {
  display: inline-block;
  background-color: orange;
  color: white;
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.form {
  padding: 0 30px;
  input {
    width: 10%;
    margin: 5px 0 25px;
  }
}
