.slider {
  position: relative;
  height: 100vh;
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
  border-right: 1px solid black;
  z-index: 1;
  img {
    width: 85%;
    // height: calc(100vh - 90px);
    // width: 100%;
    height: 100%;
    object-fit: contain;
  }

  video {
    width: 85%;
    object-fit: contain;
  }
}

.slider:hover {
  img {
    cursor: url('../icons/PlusBold.svg'), auto;
  }
}

.slide {
  .video-container {
    display: flex;
    height: calc(100vh - 90px);
    align-items: center;
    justify-content: center;
    width: 85%;
  }

  position: absolute;
  margin-top: 74px;
  box-sizing: border-box;
  padding: 0 32px 32px;
  top: 0;
  left: 0;
  width: 100%;
  // height: 100%;
  opacity: 0;
  transition: opacity 0.35s ease-in;

  display: flex;
  height: calc(100vh - 74px);
  justify-content: center;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slider {
  .prev, .next, .prev-video, .next-video {
    border: 0;
    background-color: Transparent;
    font-size: 20px;
    z-index: 5;
    width: 20vw;
    top: 0;
    position: absolute;
    height: 100vh;
    width: 20vw;
  }
  .prev-video, .next-video {
    width: 10%;
  }
  .prev, .prev-video {
    left: 0;
  }
  .next, .next-video {
    right: 0;
  }
}

.dot, .dot-active {
  cursor: pointer;
  height: 2px;
  width: 16px;
  margin: 0 2px;
  background-color: #ddd;
  display: inline-flex;
  transition: background-color 0.5s ease-in;
}

.dot:hover, .dot-active {
  background-color: #717171;
  opacity: 1;
}

.next:before, .next-video:hover {
  content: '';
}
.next:hover, .next-video:hover {
  cursor: url('../icons/ArrowIcon.svg'), auto;
}

.next.white:hover, .next-video.white:hover {
  cursor: url('../icons/ArrowIconWhite.svg'), auto;
}

.prev:before, .prev-video:hover {
  content: '';
}

.prev:hover, .prev-video:hover {
  cursor: url('../icons/ArrowBack.svg'), auto;
}

.prev.white:hover, .prev-video.white:hover {
  cursor: url('../icons/ArrowBackWhite.svg'), auto;
}

.page {
  position: absolute;
  width: 100%;
  transform: translateX(-50%);
  left: 50%;
  bottom: 16px;
  z-index: 2;
}

@media screen and (max-width: 991px) {
  .slider {
    border: none;
    img {
      height: 85%;
      width: 85%;
    }
  }
}
