.btn {
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  border: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &--logout {
    width: 100%;
  }

  &--back {
    width: 20px;
    height: auto;
    @media (max-width: 991px) {
      margin-right: 8px;
    }
  }

  &--edit {
    width: 100%;
  }

  &--dropdown {
    height: 48px;
  }
  &--kebab {
    @media (min-width: 992px) {
      scale: 0;
    }
  }
  &--delete {
    width: 100%;
  }
  &--submit {
    background-color: rgb(200, 200, 200);
    font-size: 24px;
    height: auto;
    width: 100%;
    padding: 4px;
  }
  &--close {
    right: 50px;
    position: absolute;
    top: 22px;
    z-index: 6;
    height: $icon-height;

    &.medium {
      top: 80px;
    }

    &.h30 {
      @media (max-width: 991px) {
        right: 50px;
      }
    }
  }

  &--next-post, &--prev-post {
    color: rgb(146, 146, 146);
  }

  &--next-post:hover, &--prev-post:hover {
    color: black;
  }

  &--tab {
    font-size: 18px;
    padding: 8px;
    width: 30%;
    transition: 0.3s ease-out;
    background-color: transparent;
    color: white;

    @media (max-width: 599px) {
      width: 40%;
      text-wrap: nowrap;
    }

    &.is-active {
      border-bottom: 1px solid rgb(240, 240, 240);
    }
  }

  &.disabled {
    pointer-events: none;
  }
}

.icon {
  display: inline-block;
  width: $icon-width;
  height: $icon-height;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  padding: 0;

  &--dropdown {
    background-image: url("../icons/Dropdown.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    transition: 0.3s ease-out;

    &.is-active {
      transform: rotate(-180deg);
    }
  }

  &--kebab {
    background-image: url("../icons/KebabMenu.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease-out;

    &.medium {
      height: 50%;
      scale: 1;
    }
  }

  &--sign-in {
    font-size: 16px;
    padding: 6px;
    width: 100%;
    border: 1px solid rgb(146, 146, 146);
    background-color: rgb(240, 240, 240);
    margin: 20px 0;
    height: auto;
  }

  &--login {
    background-image: url('../icons/Login.svg');
  }
  &--back {
    background-image: url('../icons/ArrowBack.svg');
  }
  &--logout {
    background-image: url('../icons/Logout.svg');
  }
  &--new-post {
    background-image: url('../icons/New.svg');
  }
  &--edit {
    background-image: url('../icons/Edit.svg');
  }
  &--delete {
    background-image: url('../icons/Delete.svg');
  }
  &--close {
    background-image: url('../icons/Close.svg');
    height: $icon-height--small;
    width: $icon-width--small;
    &.h30 {
      right: calc(26vw + 20px);
    }
  }
}
